%btn {
  border-radius: 5px;
  display: inline-block;
  margin: 3px;
  padding: 8px;
  &:hover {
    transform: scale(.93);
  }
}

.btn-primary {
  @extend %btn;
  // background-color: $primary-color;
  @include set-background(darken($primary-color, 50%));
}

.btn-secondary {
  @extend %btn;
  // background-color: $secondary-color;
  @include set-background($secondary-color);
}
